@mixin space-between-children($spacing: 0.1rem, $orientation: horizontal){
    & > *:not(:last-child) {
        @if ($orientation == horizontal or $orientation == h){
            margin-right: $spacing;
        }
        @if ($orientation == vertical or $orientation == v){
            margin-top: $spacing;
        }
    }
}

@mixin border-between-children($border: 2px solid white, $orientation: horizontal){
    & > *:not(:last-child) {
        @if ($orientation == horizontal or $orientation == h){
            border-right: $border;
        }
        @if ($orientation == vertical or $orientation == v){
            border-right: $border;
        }
    }
}

@mixin screen-layout-break($width-break: $default-screen-break){
    @media only screen and (max-width: $width-break) {
        @content;
    }
}