@import './font-vars.scss';

$root-line-height: 1.0;
$root-font-size: 1.0;

:root, html, body {
    width: 100%;
    font-size: $root-font-size;
    font-family: $general-font-family;
    font-weight: $general-font-weight;
    line-height: $root-line-height;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

