@import './font-vars.scss';

$root-line-height: 1.0;
$root-font-size: 1.0;

.font-antialias {
    //-webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root, html, body {
    @extend .font-antialias;
    width: 100%;
    font-size: $root-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    letter-spacing: $base-letter-spacing;
    line-height: $root-line-height;
    margin: 0;
    padding: 0;

    
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: none;
}


.sections-strip::before{
    content: '';
    background-image: url('../img/path-experiments-thin-2.svg');
    /*background-color: linear-gradient(to bottom right, rgba(15, 95, 73, 0.95), rgba(0, 65, 63, 1.0));*/
    /*-webkit-mask: url('../img/path-experiments.svg') repeat;
    mask: url('../img/path-experiments.svg') repeat;*/
    /*background-image: url('../img/path-experiments.svg');*/

    opacity: 0.02;
    filter: blur(0px) hue-rotate(10deg) saturate(0) brightness(95%);
    background-size: 300%;

    width: 100%;
    height: 100%;

    position:absolute;
    top:0px;
    left:0px;
    z-index: -9999;
}