$nav-text-weight: bolder;
/* current raleway font-face is limited to font weight of 400*/
$nav-text-font: "raleway-regular", arial, sans-serif;
$nav-text-font-weight: 400;
$nav-icon-boldness: 400;
$nav-button-text-boldness: 800;


$buttons-font-family: "raleway-regular", Helvetica, arial, "georgia"