@import './spacings.scss';
@import './colors.scss';
@import './font-vars.scss';
@import './generic-classes.scss';

/*.main-image-holder{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: -9999;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}*/


.main-image-holder {
    height: 700px !important;
}

.img-section {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
}
.img-section {
    color: white;
    font-size: 2em;
}
.img-section img {
    z-index: -9999;
}

.section-img {
    width: inherit;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: inherit;
    object-fit: cover;
}

.main-image {
    height: 100%;
}


.text-left {
    text-align: left;
}

.center-content-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.center-content-holder > div {
    z-index: 0;
    /*position: relative;*/
    /*background: rgba(50,50,50, 0.2);*/
    background: linear-gradient(to bottom, rgba(50,50,50, 0.3), rgba(50,50,50, 0.04));
    /*box-shadow: 10px 8px 10px 5px rgb(50,50,50);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.ovly-title {
    font-size: 60px;
    color: $main-image-main-title-color;
    text-shadow: 2px 2px 15px black;
    display: inline;
    margin: 10px;
}

.center-content-holder > div h1 {
    color: $main-image-main-title-color;
}
.center-content-holder > div h2 {
    color: $main-image-secondary-title-color;
}

.center-content > * {
    margin: 0;
    padding: 10px;
}


.sections-strip {
    /*width: 100% !important;*/
    padding: 0;
    padding-left: $section-strip-base-padding-lr;
    padding-right: $section-strip-base-padding-lr;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.sections-strip section {
   /*padding-left: $section-item-base-padding-lr;
    padding-right: $section-item-base-padding-lr;*/
}

.content-section {
    /*padding: 60px;*/
    line-height: 1.5;
    font-size: 20px;
}

.content-section h1 {
    /*font-family: dom;*/
    font-family: noto, Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: rgb(80, 200, 60)
}

.sections-strip section {
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.img-book-section {
    width: auto !important;
    margin: 60px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.img-book-section > .section-content {
    /*display: flex;
    flex-wrap: nowrap;
    align-items: stretch;*/
    display: grid;
    /*grid-template-columns: 500px;*/
    /*grid-auto-rows: minmax(100px, auto);*/
	gap: 20px;
    max-width: 1200px;
}

.section-content {
    text-align: left;
}

.page-section {
    /*max-width: 1200px;*/
}

.left-pane {
    grid-column: 1;
    grid-row: 1;
}
.right-pane {
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    vertical-align: middle;
    display: flex;
    margin-left: 40px;
}

/*.left-pane {
    width: 46%;
    margin-right: auto;
}
.right-pane {
    width: 46%;
    margin-left: auto;
    height: 100%;
}*/

.img-book-section img {
    height: auto;
    width: 100%;
    /*object-fit:cover;
    
    max-width:100%;
    max-height: 100%;*/
}


.preview-section-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

.preview-section-holder article {
    width: 400px;
    padding: 20px;
}
.preview-section-holder article img {
    width: 100%;
    object-fit: cover;
}


@media only screen and (max-width : 700px) {
    /*.main-image {
        position: relative;
    }
    section {
        position: relative;
    }*/

}


@media only screen and (max-width : 1000px) {
    .right-pane {
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }

}

