@import './spacings.scss';
@import './colors.scss';
@import './font-vars.scss';
@import './generic-classes.scss';
@import './base-layout.scss';

/*.main-image-holder{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: -9999;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}*/


/*
$main-stack-section-h-size: 700px;
$stack-section-default-h-size: auto;
*/

$main-stack-section-h-size: 70vh;
$stack-section-default-h-size: 70vh;
$stack-section-font-size: 2rem;
$main-stack-section-font-size: 2.8rem;
$stack-section-font-color: white;


.stacked-section {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    height: $stack-section-default-h-size;
    color: $stack-section-font-color;
    font-size: $stack-section-font-size;

    & .section-background {
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: inherit;
        object-fit: cover;
        z-index: -9999;
        height: $stack-section-default-h-size;
    }
}



.main-image-holder {
    @extend .stacked-section;
    height: $main-stack-section-h-size !important;
    font-size: $main-stack-section-font-size;

    & .section-background {
        height: $main-stack-section-h-size !important;
    }
}




.main-image {
    height: 100%;
}


.text-left {
    text-align: left;
}

.center-content-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.center-content-holder > div {
    z-index: 0;
    /*position: relative;*/
    /*background: rgba(50,50,50, 0.2);*/
    background: linear-gradient(to bottom, rgba(50,50,50, 0.3), rgba(50,50,50, 0.04));
    /*box-shadow: 10px 8px 10px 5px rgb(50,50,50);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.ovly-title {
    font-weight: $main-title-font-weight;
    font-family: $main-title-font-family;
    font-size: $main-title-font-size;
    letter-spacing: $main-title-letter-spacing;
    color: $main-image-main-title-color;
    text-shadow: $text-glass-backdrop;
    display: inline;
    margin: 13px;
}

.ovly-title ~ h2 {
    font-weight: $main-title-secondary-font-weight;
    font-family: $main-title-secondary-font-family;
    font-size: $main-title-secondary-font-size;
}

.center-content-holder > div h1 {
    color: $main-image-main-title-color;
}
.center-content-holder > div h2 {
    color: $main-image-secondary-title-color;
}
.center-content > * {
    margin: 0;
    margin-top: 0.3rem;
}
.center-content > button {
    margin-top: 1.5rem;
}


.sections-strip {
    /*width: 100% !important;*/
    padding: 0;
    padding-left: $section-strip-base-padding-lr;
    padding-right: $section-strip-base-padding-lr;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.sections-strip section {
   /*padding-left: $section-item-base-padding-lr;
    padding-right: $section-item-base-padding-lr;*/
}

.content-section {
    /*padding: 60px;*/
    line-height: 1.5;
    font-size: 20px;
    font-weight: $content-section-body-font-weight;
    font-family: $content-section-body-font-family;
    font-size: $content-section-body-font-size;
    color: $content-section-text-color
}

.content-section h1 {
    /*font-family: dom;*/
    font-family: $content-section-title-font-family !important;
    font-weight: $content-section-title-font-weight !important;
    font-size: $content-section-title-font-size;
    color: $content-section-title-color;
    letter-spacing: $content-section-title-letter-space;
}

.content-section .quote {
    font-family: $content-section-quote-font-family;
    font-weight: $content-section-quote-font-weight;
    font-size: $content-section-quote-font-size;
    color: $content-section-quote-color;
}

.sections-strip section {
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.img-book-section {
    width: auto !important;
    margin: 60px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.img-book-section > .section-content {
    /*display: flex;
    flex-wrap: nowrap;
    align-items: stretch;*/
    display: grid;
    /*grid-template-columns: 500px;*/
    /*grid-auto-rows: minmax(100px, auto);*/
	gap: 20px;
    max-width: 1200px;
}

.section-content {
    text-align: left;
}

.page-section {
    /*max-width: 1200px;*/
}

.left-pane {
    grid-column: 1;
    grid-row: 1;
}
.right-pane {
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    vertical-align: middle;
    display: flex;
    margin-left: 40px;
}

/*.left-pane {
    width: 46%;
    margin-right: auto;
}
.right-pane {
    width: 46%;
    margin-left: auto;
    height: 100%;
}*/

.img-book-section img {
    height: auto;
    width: 100%;
    /*object-fit:cover;
    
    max-width:100%;
    max-height: 100%;*/
}


.preview-section-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

.preview-section-holder article {
    width: 400px;
    padding: 20px;
}
.preview-section-holder article img {
    width: 100%;
    object-fit: cover;
}


@media only screen and (max-width : 700px) {
    /*.main-image {
        position: relative;
    }
    section {
        position: relative;
    }*/

}


@media only screen and (max-width : 1000px) {
    .right-pane {
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }

}

