@import './spacings.scss';
@import './colors.scss';
@import './font-vars.scss';
@import './generic-classes.scss';

header {
    font-weight: $nav-header-default-font-weight;
    text-align: center;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 9999999;
    width: 100%;
    font-family: $nav-header-default-font-family;
    font-weight: $nav-header-default-font-weight;
    font-size: $nav-header-default-font-size;
}

/*Todo menu items should have same base height as bar -> without margin -> more easy to click*/

.headaction > *:not(:first-child) {
    margin-left: var(--nav-horizontal-margin-base);
}

.navbar {
    margin: 0;
    /*height: $navbar-height;
    height: auto;*/
    width: inherit;
    z-index: 999999;

    letter-spacing: 2px;

    background: $navbar-bg-color;
    color: $navbar-fg-link-color;

    @extend .transition-all;

    &:hover {
        /*background: rgba(15, 95, 73, 1.0), rgba(0, 65, 63, 0.9);*/
        background-color: rgb(15, 95, 73);
        @extend .transition-all;
    }

    &:hover .logo-holder {
        opacity: 0;
        @extend .transition-all;
    }

    &:hover button {
        background: hsl(161, 48%, 59%);
        @extend .transition-all;
    }
}

.logo-holder {
    display: none;
}


.navbar > * {
    margin-right: var(--nav-horizontal-margin-base);
    height: $nav-item-horizontal-height;
}
.navbar:last-child {
    margin-right: 0;
}

/* navregion*/
nav {
    margin: 0;
}
nav ul > * {
    list-style: none;
    margin-right: var(--nav-links-horizontal-margin-base);
}


/* General*/

.plainlink {
    text-decoration: none;
    list-style: none;
    /*margin: 0;
    padding: 0;*/
    border: 0;
    outline: 0;
    color: $nav-text-color;
}

.ophover:hover {
    transition: opacity 1.5s;
    opacity: 0.5;
}

.leftalignflex {
    @extend .centerflex;
    margin-right: auto;
    /*position: absolute;
    top: 0;
    left: 0;*/
}

/* --------- Navbar child items*/

/*.headvisual{
    height: 100%;
}*/

.headvisual .logo-holder {
    margin-left: var(--nav-horizontal-margin-base);
}
.logo-holder img {
    /*position: fixed;*/
    position: absolute;
    top: 60px;
    left: -30px;
    opacity: 0.87;
}
.logo-holder img:hover {
    transition: 1.4s opacity;
    opacity: 0.7;
}


.headaction {
    margin-right: 0;   
}

/* Burger menu */

/*.burger {
    width: 60px;
    height: 60px;
}
.burger {
    height: auto;
}
.burger .icon{
    height: auto;
}*/

/* Logo */

.logo-holder {
    font-size: $nav-logo-font-size;
    height: auto;
    width: auto;
    
}
.logo-url {
    height: 100%;
}

/* Navigation menu */

/*navbar links*/
nav a
{
    /*display: inline-block;
    width: auto;*/
    padding: 10px;
    color: $navbar-fg-link-color;
    /*border-top: 1px solid #777777;*/
}


/* Navigation submenu */

.subhidden {
    display: none;
}
.subnav {
    display: none;
}


li {
    position: relative;
}
/*.expandable_nav_url:hover ~ .subnav {*/
.expandable_nav_url:hover ~ .subnav, .subnav:hover {
    display: flex;
    flex-direction: column;
    /*position: relative;*/
    /*top: $navbar-height;*/
    position: absolute;
    top: $nav-text-font-size;
    left: 0;
    padding: 20px;
    background: $navbar-bg-color;
}

.subnav li {
    padding: 10px;
    margin: 0;
}

.subnav .nav_url {
    padding: 0px;
}

.subnav ul {
    padding: 0px;
    margin: 0;
}


/*.expandable_nav_url li*/



@media only screen and (max-width : 700px) {

    :root {
        --nav-horizontal-margin-base: 0;
        --nav-links-horizontal-margin-base: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .sections-strip {
        position: relative;
    }

    header {
        position: relative;
    }

    .navbar > * {
        width: 100%;
        height: auto;
    }

    ul {
        text-align: center;
        flex-direction: column;
        /*where does this 40px padding come from ???*/
        padding-left: 0;
    }

    ul li, a{
        display: block;
        width: 100%;
    }

    nav {
        margin-top: 2px !important;
        margin-bottom: 10px !important;
    }

    nav li {
        padding-top: 13px;
        padding-bottom: 13px;
        /*border-top: 1px solid white;
        border-bottom: 1px solid white;
        box-shadow: 0px 0px 3px white;*/
    }

    nav li:nth-child(odd){
        background: rgba(255,255,255, 0.2);
    }


    .headaction .navbutton {
        width: 45%;
        margin-left: 0;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .headaction > *:nth-child(1){
        margin-right: auto;
    }
    .headaction > *:nth-child(2){
        margin-left: auto;
    }


    .leftalignflex, .rightalignflex, .centerflex{
        margin: 0;
    }

    .centerflex {
        justify-content: left;
        /*padding-left: 0;*/
        text-align: center;
    }

    .bt-content {
        width: auto;
        flex-direction: column;
    }

    .burger {
        display: none;
    }
    .logo-holder {
        width: 100% !important;
        padding: 30px;
        font-family: $logo-title-family;
        font-size: $logo-title-size;
    }
    .logo-holder img {
        width: 100% !important;
        position: fixed;
        top: 80px;
        left: 0;
        opacity: 0.18;
        &:hover {
            opacity: 0.0;
        }
    }
    
    /*.navbar > * {
        margin-right: 0;
        height: auto;
        text-align: center;
    }

    .centerflex {
        flex-direction: column;
    }

    .headaction {
        flex-direction: row;
    }

    .navbar > * {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .navbar > * > * {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar > * > * > * {
        margin-left: 0;
        margin-right: 0;
    }
    
    nav ul li a{
        display: block;
        width: 100%;
    }*/


}