@import '../fonts/fonts.scss';


body {
    font-family: "raleway-regular", arial;
    line-height: 1;
    margin: 0;
    padding: 0;
}

header {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}