

@use '../vars';
@use '../shared';
@use '../controls';

//light-bg-highlight
$preview-item-link-color: #009586 !default;

.preview-section-holder {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //margin: 40px;
    //margin-left: auto;
    //margin-right: auto;;
    display: grid;
    //@include shared.center-content();
    padding: {
        left: 10%;
        right: 10%;
        top: 20px;
    }
    grid-template-columns: repeat(3, 1fr);
    gap: 1.0em;
    row-gap: 2.0em;

    @include controls.colored-links($preview-item-link-color);
}

.preview-section-holder article {
    //width: 400px;
    //padding: 20px;
}
.preview-section-holder article img {
    width: 100%;
    object-fit: cover;
}