@use '../vars';

.preview-section-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

.preview-section-holder article {
    width: 400px;
    padding: 20px;
}
.preview-section-holder article img {
    width: 100%;
    object-fit: cover;
}