@use '../vars';

.quote-box {
    font-weight: vars.$quote-box-font-weight;
    font-family: vars.$quote-box-font-family;
    font-size: vars.$quote-box-font-size;
    color: vars.$dark-bg-font-color;
    text-shadow: 3px 3px 15px vars.$light-text-shadow-color, 3px 3px 15px vars.$light-text-shadow-color;
    line-height: 2.5rem;
    
    /*& cite {
        line-height: 2.5rem;
    }*/
    
    &  cite::before {
        content: '"';
    }
    &  cite::after {
        content: '"';
    }
    & .from-ref {
        font: {
            weight: vars.$quote-from-ref-weight;
            family: vars.$quote-from-ref-family;
            size: vars.$quote-from-ref-size;
        }
        margin-top: 5rem;
    }
}
