@use '../vars';
@use 'sass:list';

/*.left-pane {
    width: 46%;
    margin-right: auto;
}
.right-pane {
    width: 46%;
    margin-left: auto;
    height: 100%;
}*/


.split-view {
    width: auto !important;
    margin: 60px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;

    .left-pane {
        grid-column: 1;
        grid-row: 1;
    }
    .right-pane {
        grid-column: 2;
        grid-row: 1;
        align-items: center;
        vertical-align: middle;
        display: flex;
        margin-left: 40px;
    }

    & > .section-content {
        /*display: flex;
        flex-wrap: nowrap;
        align-items: stretch;*/
        display: grid;
        /*grid-template-columns: 500px;*/
        /*grid-auto-rows: minmax(100px, auto);*/
        gap: 20px;
        max-width: 1200px;
    }

    /*& img {
        height: auto;
        width: 100%;
        object-fit:cover;
        
        max-width:100%;
        max-height: 100%;
    }*/
}

//TODO generic keyword to array choice binding

$orientation_list: 'horizontal vertical';

@mixin orientation-stretch-sub($orientation: horizontal, $elem){

    $list-index: list.index(horizontal vertical, $orientation);

    @if($list-index == 1){
        #{$elem}{
            height: auto;
            width: 100%;
            object-fit:cover;
        }
    } @else if($list-index == 2){
        #{$elem}{
            height: 100%;
            width: auto;
            object-fit:cover;
        }
    } @else {
        #{$elem}{
            height: auto;
            width: auto;
        }
    }
}

@mixin img-stretch($orientation: horizontal){
    @include orientation-stretch-sub($orientation, 'img');
}

.img-use-width {
    @include img-stretch(horizontal);
    img {
        filter: saturate(50%) brightness(1.8);
    }
}


@media only screen and (max-width : 1000px) {
    .right-pane {
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }

}