//@use '../vars';
@use '../reactive';
@use '../shared';
@use '../layouts/helpers';


$text-shadow-color: black !default;
$text-shadow: 0px 0px 15px $text-shadow-color !default;
//vars.$rich-logo-font-color
$color: white !default;
$weight: 400 !default;
//$family: vars.$logo-title-family !default;
$family: arial !default;
//$size: vars.$nav-logo-font-size !default;
$font-size: 20px;

//$small-screen-break: vars.$small-screen-break !default;

//depreciated -> should be the same as rich-logo just at different size + spacings
//$rich-logo-font-color: white;
/*.navlogo-holder {
    height: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    img {
        height: 70px;
    }
    h4 {
        display: inline;
        margin: 0;
        font-size: 1.5em;
        font-family: 'merienda';
        font-weight: 800;
        color: $color;
    }
    a {
        @extend .centerflex-row;
        @include helpers.gap-between-children(0.75em, 'horizontal');
        border: none !important;
    }
    
}

.navlogo-holder a:hover {
    opacity: 0.6;
    @include reactive.lin-transition(1.0s, opacity);
}


.navlist:hover .logo-holder {
    opacity: 0;

    @include reactive.lin-transition();
}

.logo-holder {
    margin-left: var(--nav-horizontal-margin-base);
}
.logo-holder img {
    position: absolute;
    top: 60px;
    left: -30px;
    opacity: 0.87;
}
.logo-holder img:hover {
    opacity: 0.7;
    @include reactive.lin-transition(1.4s opacity);
}
.logo-holder {
    font-size: vars.$nav-logo-font-size;
    height: auto;
    width: auto;
    font-family: $family;
        font-weight: $weight;
        font-size: $size;
    
}
.logo-url {
    height: 100%;
}

@media only screen and (max-width : vars.$small-screen-break) {
    .logo-holder {
        width: 100% !important;
        padding: 30px;
    }
    .logo-holder img {
        width: 100% !important;
        position: fixed;
        top: 80px;
        left: 0;
        opacity: 0.18;
        &:hover {
            opacity: 0.0;
        }
    }
}
*/

//$logo-size: 20rem;
//$center-font-size: $logo-size * 0.6;
//$suftitle-font-size: $center-font-size * 0.375;



$overlay-letter-family: ('ruthie', 'helvetica', 'sans-serif') !default;
$overlay-letter-weight: 800 !default;
$font-family: ('protest-revolution', 'helvetica', 'sans-serif') !default;
$font-weight: 600 !default;

//$rich-logo-font-size: 320px;
$rich-logo-font-size: 20rem !default;

$rich-logo-size: 1em;

$half-rich-logo-size: 0.5em;
$overlay-letter-size: 0.6em;
$suffix-font-size: $overlay-letter-size * 0.375;
$center-suffix-top: $half-rich-logo-size - calc($suffix-font-size / 2);

//$center-font-size: 12rem;
//$suftitle-font-size: 4.5rem;
//TODO migrate to em -> based on parent font size
.rich-logo {
    //Set here for using as reference for 'em' unit
    //font-size: $center-font-size;
    font-size: $rich-logo-size;
    
    //height: $logo-size;
    height: $rich-logo-size;
    //line-height: $rich-logo-size;;
    width: auto;
    position: relative;

    //font-family: 'ruthie';
    //font-family: 'ruthie';
    //font-family: 'protest-revolution';
    //font-family: 'pacifico';
    @extend .centerflex-row;

    color: $color;
    text-shadow: $text-shadow;
    z-index: 0;
    font-family: $font-family;
    font-weight: $font-weight;

    .logo-stack {
        position: relative;
        //height: $logo-size;
        height: $rich-logo-size;
        width: $rich-logo-size;
        display: flex;
        align-items: center;
        //vertical-align: middle;
        justify-content: center;
        //width: $logo-size;

        .overlay-letter {
            //position: absolute;
            //top: 140px;
            //font-size: $overlay-letter-size;
            
            //top: $half-rich-logo-size - calc($overlay-letter-size / 2); //* 0.9;
            //left: $half-rich-logo-size - calc($overlay-letter-size / 2);// * 0.95;
            //display: none;
            //height: $overlay-letter-size;
            //width: $overlay-letter-size;

            //justify-self: center;
            //height: 0;
            //width: 0;
            font-size: $overlay-letter-size;
            line-height: $overlay-letter-size;
            //position: relative;
            //height: 0px;
            //width: 0px;
            position: relative;
            top: calc(12%);
            right: calc(8%);
            //right: 0.5em;

            /*position: absolute;
            //top: 0;
            left: 0;
            top: calc(50% - 1em / 2);*/
            //left: calc(50% - 1em / 2);
            font-family: $overlay-letter-family;
            font-weight: $overlay-letter-weight;

            
        }

        img {
            //width: $logo-size;
            position: absolute;
            top: 0;
            left: 0;
            height: $rich-logo-size;
            width: $rich-logo-size;
            z-index: -999;
            @include reactive.lin-transition(2.0s, filter);
        }
        &:hover img {
            //opacity: 0.5;
            filter: invert(100%);
            @include reactive.lin-transition(2.0s, filter);
        }
    }

    .suffix {
        font-size: $suffix-font-size;
        margin-left: 0 - calc($rich-logo-size / 4) - 0.02em;
        margin-top: $center-suffix-top + calc($suffix-font-size / 3);//calc($suffix-font-size/2);// - $suffix-font-size + 0.4rem;
        //height: fit-content;
    }
}

.bg-logo {
    //position: absolute;
    img {
        opacity: 0.7;
    }
}

/*position: absolute;
        left: - calc($logo-size / 4) - 0.2rem;
        top: calc($logo-size / 2) - calc($suftitle-font-size/2) + 2rem;*/