$base-bg-color: #ffffff;
$main-title-color: #666666;
$nav-text-color: #051040;

$primary-color-dark: rgb(0, 55, 53); //003735
$secondary-color: #309020;
$highlight-color-light: #9dc660;
$secondary-highlight-color-light: #ddd660;


// Dark bg section (bg image is dark or checkerboard contrast like)
$dark-bg-title-color: #ffffff;
$dark-bg-text-color: #ffffff;
$dark-bg-color: #444444;

// Light bg section: light image, white pastel filter, .etc)
$light-bg-title-color: #7da660;
$light-bg-text-color: #003735;
$light-bg-color: rgb(244, 240, 236);

$light-bg-link-color: #7da660;
$light-bg-text-highlight-color: #d9b060;

$light-bg-time-text-color: #309020;
$light-bg-date-text-color: #309020;

// Contact colors for light background
$light-bg-contact-border-color: #207020;
$light-bg-contact-text-color: #000000;




$light-image-overlay-color: rgba(255, 255, 255, 0.5);
$dark-image-overlay-color: rgba(0,0,0, 0.5);
$logo-placeholder-color: #309020;


:root {
    --mutable-bg-color: #{$base-bg-color};
}

// Todo implement hue shift: maybe with https://sass-lang.com/documentation/modules/color/
// The advantage is a lot of different looks can be tried out from 1 basic color palette


/*New temp*/
/*$navbar-bg-color: rgb(0, 65, 63);*/
//$navbar-bg-color: linear-gradient(to bottom right, rgba(15, 95, 73, 0.95), rgba(0, 65, 63, 0.6));
$navbar-bg-color: linear-gradient(to bottom right, rgba(25, 115, 93, 0.95), rgba(20, 85, 83, 0.6));
$navbar-fg-link-color: #ffffff;
$nav-text-color: #ffffff;
//$nav-button-bg-color: rgba(225,245,225, 0.22);
$nav-button-bg-color: rgba(140, 195, 200, 0.45);


$main-image-main-title-color: rgb(255,255,255);
$main-image-secondary-title-color: rgb(235,220,45);


$ovl-button-bg-color: rgb(0,0,0);
$ovl-button-fg-color: white;


$content-section-title-color: rgb(80, 200, 60);
$content-section-quote-color: rgb(6, 6, 100);
$content-section-text-color: black;

$text-glass-backdrop: 2px 2px 15px black;



$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

@if $dark-theme {
  $primary-color: darken($primary-color, 60%);
  $accent-color: lighten($accent-color, 60%);
}


$preview-item-link-color: #009586 !default;

$dark-bg-font-color: #ffffff;
$light-bg-font-color: #000000;

$light-text-shadow-color: #000000;
$dark-text-shadow-color: #ffffff;

//$stack-view-font-color: white;

$button-highlight-bg-color: hsl(161, 48%, 59%) !default;

$search-box-color-pair: rgba(#22cc99, 0.8) white !default;