@use "sass:map";

$font-family-set: "alef", arial, Helvetica, "georgia";
//$font-family-set: "montserrat";

$base-font-family: $font-family-set;
$base-font-weight: 800;
$base-letter-spacing: 2px;


$regular-font-weight: 400;
$normal-bold-font-weight: 600;
$emphasised-font-weight: 800;


$esoteric-font-family: 'dancing-script';
$esoteric-font-family: 'milonga';


$read-text-font-family:  'alef','arial';
$titles-font-family: 'raleway';
$control-font-family: 'arial';
/*$quote-font-family: 'raleway';*/

/*kalam?, merienda?, courgette?, crimson-pro, gelasio, stix-two-text, literata castoro amita ovo gabriela montaga*/
$quote-font-family: 'montaga';
$quote-font-style: 'italic';
/*$quote-letter-spacing: 0px;*/


/*$nav-text-weight: bolder;
$nav-text-font: $base-font-family;
$nav-text-font-weight: 400;
$nav-icon-boldness: 400;
$nav-button-text-boldness: 800;*/

$buttons-font-weight: $normal-bold-font-weight;
$buttons-font-family: $base-font-family;
$icons-weight-thickness: $emphasised-font-weight;


/*$content-section-title-font-weight: $emphasised-font-weight;
$content-section-title-font-family: $base-font-family;*/
$content-section-title-font-weight: 600 ;//$normal-bold-font-weight;
//marcellus, crimson-pro, gelasio, stix-two-text, vidaloka, yeseva-one, libre-caslon-text, castoro, ovo, young-serif, gabriela, asul, montaga
//asul@600, gabriela@600, young-serif@500!, ovo@800, castoro@800, stix-two-text@600,800 , crimson-pro@600,800
// ovo, castoro, asul?, gabriela?, young-serif, stix-two-text, crimson-pro
//crimson-pro, protest-riot, open-sans
$content-section-title-font-family: 'merienda'; /*$esoteric-font-family*/
$content-section-title-font-size: 2.7rem;
$content-section-title-letter-space: 1px;

/*
merienda (caveat), 
Musik des Feuers um die Kraft die in dir steckt zu rufen.
*/

/*roboto, open-sans!, lato, inter, raleway, quicksand, hind-siliguri, mulish, m-plus-rounded-1c, source-sans-3, abeezee, amaranth, alef*/
/*mulish@300,400, lato@300, josefin-sans@200,300, roboto@300*/
$content-section-body-font-weight: $regular-font-weight;
$content-section-body-font-family: 'mulish';// $read-text-font-family;
$content-section-body-font-size: 1.3rem;




$content-section-quote-font-weight: $regular-font-weight * 1.2;
$content-section-quote-font-family: $content-section-body-font-family;
$content-section-quote-font-size: $content-section-body-font-size * 1.2;


$font-weights: ("regular": 400, "medium": 500, "bold": 700);


$quote-box-font: (
    weight: $regular-font-weight,
    family: $quote-font-family,
    size: $content-section-body-font-size * 1.5,
);

$quote-box-font-weight: $regular-font-weight;
$quote-box-font-family: $quote-font-family;
$quote-box-font-size: $content-section-body-font-size * 1.5;

$quote-from-ref-weight: $normal-bold-font-weight;
$quote-from-ref-family: 'gabriela';
$quote-from-ref-size: $quote-box-font-size * 0.7;


//font: italic small-caps bold 12px/30px Georgia, serif; https://www.w3schools.com/cssref/pr_font_font.php

//@include font-vars('quote-from-ref');

$main-title-font-weight: $regular-font-weight;
$main-title-font-family: 'stix-two-text' ,'gabriela' ,'crimson-pro', $base-font-family;
$main-title-font-size: 60px;
$main-title-letter-spacing: 1px;
$main-title-secondary-font-weight: $regular-font-weight;
$main-title-secondary-font-family: $main-title-font-family;/*, $base-font-family;*/
$main-title-secondary-font-size: $main-title-font-size * 0.85;


$nav-header-default-font-weight: $normal-bold-font-weight;
$nav-header-default-font-family: arial;
$nav-header-default-font-size: 21px;

$logo-title-family: Arial, Helvetica, sans-serif;
$logo-title-size: 35px;

$nav-menu-font-weight: $normal-bold-font-weight;


$root-line-height: 1.2 !default;
$root-font-size: 1rem !default;


// not necessary -> inbuit behaviour
/*@function get_or_null($map, $key) {
    @if (map-has-key($map, $key)) {
        @return map.get($map, $key);
    }
    @return null;
}*/

$read-text-font: (
    weight: $regular-font-weight,
    family: $base-font-family,
    size: 1rem,
);

@mixin apply-font-set($text-font-map) {
    font-weight: map.get($text-font-map, "weight");
    font-family: map.get($text-font-map, "family");
    font-size: map.get($text-font-map, "size");
}


$button-font-set: (
    weight: $buttons-font-weight,
    family: $buttons-font-family,
    size: 1rem,
);


button {
    @include apply-font-set($button-font-set);
}
