$navbar-height: 5rem;
$navbar-children-spacing: 0.8rem;
$navbar-menu-item-spacing: 1.2rem;
$nav-text-font-size: 20px;
$nav-logo-font-size: 20px;
/*$nav-buttons-font-size: the;*/

$nav-item-horizontal-height: 90px;
$nav-item-vertical-width: $nav-item-horizontal-height;
$nav-initial-horizontal-margin-base: $navbar-children-spacing;
$nav-initial-horizontal-links-margin-base: $navbar-menu-item-spacing;

$section-strip-base-padding-lr: 0px;
$section-item-base-padding-lr: 20px;


:root {
    --nav-horizontal-margin-base: #{$nav-initial-horizontal-margin-base};
    --nav-links-horizontal-margin-base: #{$nav-initial-horizontal-links-margin-base};
}

@media only screen and (max-width : 700px) {

    :root {
        --nav-horizontal-margin-base: 0;
        --nav-links-horizontal-margin-base: 0;
    }
}

.nav-line-h {
    height: $nav-item-horizontal-height;
}