$footer-text-color: white !default;
$social-icon-border-color: white !default;
$footer-input-bg-color: #ffffff !default;
$footer-input-fg-color: black !default;
$input-shadow: 0px 0px 0.625em $footer-input-bg-color;

@use '../shared';
@use '../containers/stack-view';
@use '../vars';

footer {
    /*background: red;*/
    position: relative;
    top: 0;
    width: 100%;
    //grid-template-columns: repeat(3, 1fr);
    //https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid
    //grid-template-columns: repeat(3, minmax(0, 1fr));
    //grid-template-rows: auto 50px;
    //column-gap: 50px;
    //grid-auto-flow: column;
    //padding-left: 50px;
    //padding-right: 50px;
    //display: grid;
    //display: flex;
    //flex-direction: column;
    color: $footer-text-color !important;
    font-size: 1.5rem !important;


    .stack-bg {
        //@extend .centerflew-col;
        display: flex;
        flex-direction: column;
    }
    .stack-fg {
        //Allow the flex items to fill the remaining available space
        flex-grow: 1;
        height: auto;
    }


    //Todo do not do this with that (use stack-view instead and just put the grid in the foreground)
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    input[type=email] {
        background-color: rgba($color: $footer-input-bg-color, $alpha: 0.9);
        //border: 2px solid darkgreen;
        color: $footer-input-fg-color;
        margin-right: 1rem;
    }

    input[type=email]:hover {
        opacity: 0.8;
    }
    input[type=email]:focus {
        opacity: 1.0;
    }

    /*button {
        background-color: rgba($footer-button-bg-color, 0.6) !important;
    }*/

    /*input, button {
        box-shadow: $input-shadow;
    }*/

    .linklist {
        margin-top: 0;
        margin-bottom: 0;

        a {
            padding-bottom: 0.1em !important;
        }
        li {
            padding: 0.1em !important;
        }
    }
}

.panes {
    display: flex;
    flex-direction: row;
    //align-items: center;
    //justify-content: center;
    vertical-align: top;
    
    
    padding: {
        left: 3rem;
        right: 3rem;
        top: 4rem;
        bottom: 0.5rem;
    }

    width: calc(100% - 3rem * 2);

    & > * {
        width: calc(100% / 3);
        height: 100%;
        //padding: 2rem;
        @extend .centerflex-col;
    }

    .left-screen {
        margin-right: auto;
    }

    .right-screen {
        margin-left: auto;
    }
}

.bottom-screen {
    //@extend .centerflex-col;
    //justify-self: end;
    //width: 100%;
    //display: block;
    //flex-direction: row;
    //position: absolute;
    //bottom: 20px;
    //z-index: 999;
    //position: relative;
    @extend .centerflex-col;
    margin-top: auto;

    & > * {
        padding: 1rem;
    }
}

.copybar {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    a {
        margin-left: 2rem;
        padding-bottom: 0.2em;
        //margin-right: 1rem;
        font-size: 90%;
    }
}

.social-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a {
        padding: 0.5rem;
    }

    img {
        border-radius: 50%;
        padding: 0.625em;
        border: 0.125em solid $social-icon-border-color;
        width: 1.5em;
        height: 1.5em;
    }

    img:hover {
        opacity: 0.5;
    }
}

/*footer .stack-bg {
    filter: sepia(60%) blur(3px) brightness(40%) hue-rotate(30deg);
    opacity: 0.85;
}*/

.middle-screen {
    //Align image with bottom
    padding-left: 1.125em;
}

footer {
    //background: rgba(237, 237, 255, 0.85);
    //background: rgba(85, 120, 95, 0.95);
    background: rgba(55, 95, 90, 0.95);
    //height: auto !important;
    height: 70vh !important;
}

footer .stack-bg {
    //object-fit: cover;
    //object-fit: cover !important;
    object-fit: cover !important;
    //height: auto;
    height: 100% !important;
    //min-height: 70vh;
    //width: 102%;
    margin-left: -3px;
    margin-right: -3px;
    
}

footer .stack-bg {
    filter: sepia(70%) blur(5px) brightness(55%) hue-rotate(35deg);
    opacity: 0.60;
}
footer:hover {
    background-color: rgba(82, 30, 106, 0.9);
    transition: 3s background-color;
    .stack-bg {
        filter: blur(6px) brightness(32%) hue-rotate(-170deg) saturate(110%);
        //filter: sepia(70%) blur(5px) brightness(55%) hue-rotate(35deg);
        opacity: 1.0;
        transition: 3s all;
    }
}



.alt-bg {
    background: rgba(55, 90, 65, 0.95);
    .stack-bg img {
        filter: sepia(60%) blur(3px) brightness(40%) hue-rotate(30deg);
    }
}

$footer-text-shadow: 2px 2px 30px black, 2px 2px 30px black;
footer {
    height: auto !important;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: vars.$content-section-body-font-weight;
    font-family: vars.$content-section-body-font-family;
    color: vars.$content-section-text-color;
    text-shadow: $footer-text-shadow;
}