@use '../helpers';
//for clean-container
@use 'frame' as frame;

$nav-header-default-font: 400 1.3rem 'mulish';

header {
    /*font-weight: vars.$nav-header-default-font-weight;
    font-family: vars.$nav-header-default-font-family;
    font-size: vars.$nav-header-default-font-size;*/

    
    height: auto;
    font: $nav-header-default-font;

    @extend %clean-container;
    text-align: center;

    position: fixed;
    z-index: 9999999;
}
$small-screen-break: 700px;
@include helpers.screen-layout-break($small-screen-break) {
    header {
        position: relative;
    }
}