@use '../vars';
@use '../shared';

$frame-padding-lr: vars.$section-strip-base-padding-lr !default;
//$section-titles-family: vars.$content-section-title-font-family !default;
$content-section-title-shadow-color: white;
$title-shadow: 2px 2px 30px $content-section-title-shadow-color, 2px 2px 30px $content-section-title-shadow-color;

$title-color: rgb(13, 128, 124) !default;

.sections-strip {
    /*width: 100% !important;*/
    padding: 0;
    padding-left: $frame-padding-lr;
    padding-right: $frame-padding-lr;
    //position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;

    /*padding: 60px;*/
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: vars.$content-section-body-font-weight;
    font-family: vars.$content-section-body-font-family;
    font-size: vars.$content-section-body-font-size;
    color: vars.$content-section-text-color;

    section {
        width: 100%;
        
        @include shared.center-content();
        display: flex;
        flex-direction: column;
        margin: 0;
        //position: relative;
        //top: 0;
        
       /*padding-left: $section-item-base-padding-lr;
        padding-right: $section-item-base-padding-lr;*/
        /*.content-box {
            text-align: left;
        }*/
    }

    h1 {
        /*font-family: dom;*/
        font-family: vars.$content-section-title-font-family !important;
        font-weight: vars.$content-section-title-font-weight !important;
        font-size: vars.$content-section-title-font-size;
        color: $title-color;
        letter-spacing: vars.$content-section-title-letter-space;
        text-shadow: $title-shadow;
    }
    
    .quote {
        font-family: vars.$content-section-quote-font-family;
        font-weight: vars.$content-section-quote-font-weight;
        font-size: vars.$content-section-quote-font-size;
        color: vars.$content-section-quote-color;
    }
}

.centertext {
    text-align: center;
}


/*.content-section {
    width: 100%;

    & > div {
        max-width: 1200px;
    }
}*/