
@mixin image-backdrop($path){
    &::before {
        content: '';
        background-image: url($path);
        /*background-color: linear-gradient(to bottom right, rgba(15, 95, 73, 0.95), rgba(0, 65, 63, 1.0));*/
        /*-webkit-mask: url('../img/path-experiments.svg') repeat;
        mask: url('../img/path-experiments.svg') repeat;*/
        /*background-image: url('../img/path-experiments.svg');*/
        width: 100%;
        height: 100%;
        position:absolute;
        top:0px;
        left:0px;
        z-index: -9999;

        @content();
    }
}

.sections-strip {
    background: none;
    @include image-backdrop('/assets/img/logo/path-experiments-thin-2.svg'){
    //@include image-backdrop('/assets/img/pexels-plants-portrait.jpg'){
        opacity: 0.0;
        //opacity: 0.03;
        filter: saturate(1.3) hue-rotate(200deg); //brightness(35%);
        //filter: blur(0px) hue-rotate(60deg) saturate(2.1); //brightness(35%);
        background-size: 100%;
    }
    //backdrop-filter: blur(15px);
    
    & > div {
        //backdrop-filter: blur(15px);
        //color: white;
        background: rgba(255,255,255, 0.9);
    }


}