@use '../reactive';
@use '../helpers';

$default-screen-break: 700px !default;


@mixin center-content(){
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

@mixin flex-center(){
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin center-flex($direction: row){
    @include flex-center();
    flex-direction: $direction;
}


/* General*/
.centerflex-row {
    @include center-flex();
}
.centerflex-col {
    @include center-flex(column);
}

.plainlink {
    text-decoration: none;
    list-style: none;
    /*margin: 0;
    padding: 0;*/
    border: 0;
    outline: 0;
}

/*.leftalignflex {
    @extend .centerflex;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
}*/

.lalign {
    margin-right: auto;
}
.ralign {
    margin-left: auto;
}


.ophover:hover {
    @include reactive.lin-transition(1.5s opacity);
    opacity: 0.5;
}


/*
@media only screen and (max-width : $default-screen-break) {
    .lalign, .ralign, .centerflex-row{
        margin: 0;
    }

    .centerflex-row {
        justify-content: left;
        padding-left: 0;
        text-align: center;
    }
}*/


@function defined($value-options){
    @each $opt in $value-options {
        @if ($opt){
            @return $opt;
        }
    }

    @return null;
};


@mixin link_hover_fx(){
    cursor: pointer;
}

$nav-link-hover-border-color: white;

@mixin underline_link_hover_fx($color: $nav-link-hover-border-color, $margin-top: null){
    @include link_hover_fx();
    @include helpers.spaceless-border('bottom', 2px, $color);
}
@mixin box_link_hover_fx($color: $nav-link-hover-border-color, $margin-bottom: null){
    @include link_hover_fx();
    border: unset;

    @if($margin-bottom){
        margin-bottom: $margin-bottom;
    }
    @else {
        margin-bottom: 0;
    }
    
    box-shadow: 0px 0px 5px white;
}