@use '../helpers';
@use 'buttons';
@use '../shared';


$search-box-color-pair: rgba(#22cc99, 0.8) white !default;
$footer-button-bg-color: #3ede81 !default;
$footer-input-bg-color: #ffffff !default;
$input-shadow: 0px 0px 0.625em $footer-input-bg-color;

.search-bar {
    width: 100%;
    text-align: left;

    form {
        //margin-left: auto
        @extend .centerflex-col;
        
        float: right;
        width: 100%;
        
        padding: 1.25em;
        @include helpers.set-color-pair($search-box-color-pair);
        @include helpers.gap-between-children(0.1rem, horizontal);
    }

    button {
        height: 100%;
    }
}



form input {
    //all: unset;
    //font-size: 1.2rem;
    font-size: 1.4rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0;
}

/*label {
    display: none;
}*/

input {
    outline: none;
}

input[type=text], input[type=email] {
    //background-color: rgba(blue, 0.8);
    width: auto;
}
input[type=submit] {
    //background-color: rgba(green, 0.8);
    //display: none;
    //visibility: hidden;
}

form {
    button,.rbtn {
        @extend .light-button;
        font-size: 1.8rem;
        padding: 1.0rem;
        background-color: rgba($footer-button-bg-color, 0.6);
        /*.icon {
            height: 40px;
        }*/
    }

    input, button, .rbtn {
        box-shadow: $input-shadow;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
}


