//@use '../vars';
@use '../layouts/helpers';
@use '../reactive';
@use '../shared';

//$small-screen-break: vars.$small-screen-break !default;

@function defined($value-options){
    @each $opt in $value-options {
        @if ($opt){
            @return $opt;
        }
    }

    @return null;
};

$nav-link-hover-border-color: white;
@mixin nav_link_hover_effect($color: $nav-link-hover-border-color){
    padding-bottom: 3px;
    border-bottom: solid $color;
    border-bottom-width: 2px;
}

@mixin nav_link_hover(){
    &:hover {
        @include nav_link_hover_effect();
    }
}

/*$bg-color: vars.$navbar-bg-color vars.$primary-color !default;
$fg-color: vars.$navbar-fg-link-color vars.$secondary-color !default;
$hover-bg-color: vars.$navbar-bg-color rgb(15, 95, 73) !default;
$hover-fg-color: vars.$navbar-fg-link-color white !default;*/

$nav-header-default-font: 400 1.3rem 'mulish';

$zindex: 999999 !default;
$transition-time: 1.0s !default;
$letter-spacing: 0.125em !default;

$bg-color: linear-gradient(to bottom right, rgba(15, 95, 73, 0.95), rgba(0, 65, 63, 0.6)) !default;
$fg-color: #ffffff !default;
$hover-fg-color: #ffffff !default;
$hover-bg-color: rgb(15, 95, 73) !default;
$navlist-item-seperator-color: white !default;
$table-bar-bg-color: #22cc99 !default;
$nav-column-title-color: #086247 !default;
$nav-item-horizontal-height: 5.625rem;

$nav-header-height: $nav-item-horizontal-height;

//TODO = lighten tablebar color
$expandable_icon_shadow_color: #4ef7c5 !default;

//Debug
.burger {
    display: none;
}
//


%nav-holder {
    margin: 0;
    /*height: $navbar-height;
    height: auto;*/
    width: inherit;
    z-index: $zindex;
    background: $bg-color;
    color: $fg-color;
    letter-spacing: $letter-spacing;

    @include reactive.lin-transition($transition-time);

    &:hover {
        background-color: $hover-bg-color;
        color: $hover-fg-color;
        //@include reactive.lin-transition($transition-time, 'background-color');
        @include reactive.lin-transition($transition-time color);
    }
    
}

%clean-link {
    text-decoration: none;
    border: none;
}

.headaction {
    //margin-right: 0;
    @include helpers.gap-between-children(var(--nav-horizontal-margin-base), 'horizontal');
}


/* ---------------------------- */


// -------------- Navigation list: collection of interactable ui elements for navigation
// Can hold: link menus, button menus, logos, (+ non interactive content, img, text, .etc)
// Can be in horizontal or vertical orientation
// Can be on top, right, bottom or left of the screen
// Can be fixed or have a page pos (within content flow)

.navlist {
    margin: 0;
    @extend .centerflex-row;
    @extend %nav-holder;

    @include helpers.gap-between-children(var(--nav-horizontal-margin-base), horizontal);


    & > * {
        height: $nav-item-horizontal-height;
    }

    nav {
        @extend .centerflex-row;
    }

    nav > ul {
        @include helpers.pad-between-children(var(--nav-horizontal-margin-base), horizontal);
        @include helpers.border-between-children(1px solid $navlist-item-seperator-color, horizontal);
    }
}


nav {
    //font: vars.$nav-header-default-font-size vars.$nav-header-default-font-family;
    font: $nav-header-default-font;
    //font-family: 'mulish';
    margin-left: auto;
}

$small-screen-break: 700px;
@include helpers.screen-layout-break($small-screen-break) {
    .navlist {
        width: 100%;
        height: auto;
        @extend %nav-holder;
        @include helpers.gap-between-children(0, 'horizontal');
        @include helpers.gap-between-children(var(--nav-horizontal-margin-base), 'vertical');
        margin-top: 0.125em !important;
        margin-bottom: 0.625em !important;
    
        & > * {
            height: $nav-item-horizontal-height;
        }
    
        & ul {
            @include helpers.pad-between-children(0, 'horizontal');
            @include helpers.pad-between-children(var(--nav-horizontal-margin-base), 'vertical');

            text-align: center;
            flex-direction: column;
            /*where does this 40px padding come from ???*/
            padding-left: 0;
        }
    
        & ul > li {
            //@extend %clean-list;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }
    
        & ul > li > a {
            display: block;
            width: 100%;
        }

        & ul > li:nth-child(odd) {
            background: rgba(255,255,255, 0.2); //TODO: darken instead https://sass-lang.com/documentation/modules/color/
        }
    }
}

.nav-table {
    //text-align: left;
    width: auto;
    //display: none;
    display: grid;
    grid-auto-flow: column;
    //align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.625em;
    //text-align: center;
    //gap: 10px;
    padding-left: 20%;
    padding-right: 20%;
    align-items: start;
}

.nav-column {
    //justify-self: center;
    //grid-column: -1 / 1;
    //place-self: center;
    //height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding-left: 0 !important;

    h3 {
        margin: 0;
        padding-bottom: 1.0rem;
        opacity: 0.75;
        color: $nav-column-title-color;
    }
    li {
        margin-top: 0.4rem;
    }
    .linklist {
        flex-direction: column;
    }
}
.linklist {
    //@extend .centerflex-row;
    //all: unset;
    padding: 0;

    display: flex;
    //flex-direction: column;

    //justify-content: start;
    //align-items: start;
    list-style: none;

    li {
        position: relative;
    }

    a {
        @extend %clean-link;
        @include nav_link_hover();
        color: $fg-color;
    }
}

.table-bar {
    width: 100%;
    //background-color: rgba(#22cc99, 0.85);
    background-color: $table-bar-bg-color;
    top: $nav-item-horizontal-height;
    position: absolute;
    left: 0;
    text-align: left;
    opacity: 0.1;
    visibility: hidden;
    //display: none;
    padding: {
        top: 4rem;
        bottom: 4rem;
    }
    //padding: 4rem;
}

li:has(.nav-tb-ck:checked) /*+*/ > .table-bar {
    visibility: visible;
    //display: block;
    display: block;
    position: fixed;
    left: 0;
    top: $nav-header-height;
    

    opacity: 0.95;
    transition: 1s opacity;
}

.nav-tb-ck {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    //display:
    opacity: 0.0;
    z-index: 999;
}


$expand-shadow: 0px 0px 2em $expandable_icon_shadow_color, 0px 0px 1em $expandable_icon_shadow_color;
.nav-tb-ck:hover { 
    
    & + a {
        @include nav_link_hover_effect();
    }

    ~ .icon {
        text-shadow: $expand-shadow;
    }
}

.nav-tb-ck ~ .icon {
    rotate: 0deg;
    transition: 1.0s rotate;
    font-weight: 800;
}

.nav-tb-ck:checked ~ .icon {
    rotate: 180deg;
    transition: 1.0s rotate;
    text-shadow: $expand-shadow;
}

.navspacer {
    height: $nav-header-height;
}

/*.nav-tb-ck:checked ~ .nav-tb-ck + .table-bar .nav-table {
    display: none;
 }*/



// ---------------------------- Navigation submenu
// should be some kind of navlist or similar
// options: stretch across screen, wrap content
// maybe same menu as the links in the footer or the links in the sidebar (if sidebar is nav)

/*.subhidden {
    display: none;
}
.subnav {
    display: none;
    width: 100%;
}


li {
    position: relative;
}
.expandable_nav_url:hover + .subnav {*/
/*.expandable_nav_url:hover + .subnav, .subnav:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: vars.$nav-text-font-size;
    left: 0;
    padding: 20px;
    background: vars.$navbar-bg-color;
}

.subnav li {
    padding: 10px;
    margin: 0;
}

.subnav .nav_url {
    padding: 0px;
}

.subnav ul {
    padding: 0px;
    margin: 0;
}*/



/*.nav-table {
    //@extend .centerflex;
    //display: grid;
    //display: flex;
    display: grid;
    grid-auto-flow: column;
}*/

/*nav li:hover + .nav-table {
    display: grid;
}
.nav-table:hover {
    display: grid;
}*/

/*.nav-tb-ck {
    display: none;
}*/


/*.nav-tb-ck:checked + .table-bar {
    visibility: visible;
    //display: block;
    
    opacity: 0.95;
    transition: 1s opacity;
 }*/

 /*%clean-list {
    list-style: none;
    & > a {
        @extend %clean-link;
    }
}*/
