//@use '../vars';
@use 'sass:list';
@use '../helpers';
@use '../reactive';
@use '../shared';

//$small-screen-break: vars.$small-screen-break !default;

/*@mixin nav_link_hover($margin-top: null){
    &:hover {
        @include nav_link_hover_effect($nav-link-hover-border-color, $margin-top);
    }
}*/

/*$bg-color: vars.$navbar-bg-color vars.$primary-color !default;
$fg-color: vars.$navbar-fg-link-color vars.$secondary-color !default;
$hover-bg-color: vars.$navbar-bg-color rgb(15, 95, 73) !default;
$hover-fg-color: vars.$navbar-fg-link-color white !default;*/

$nav-header-default-font: 400 1.3rem 'mulish';

$zindex: 999999 !default;
$transition-time: 1.0s !default;
$letter-spacing: 0.125em !default;

$bg-color: linear-gradient(to bottom right, rgba(15, 95, 73, 0.95), rgba(0, 65, 63, 0.6)) !default;
$fg-color: #ffffff !default;
$hover-fg-color: #ffffff !default;
$hover-bg-color: rgb(15, 95, 73) !default;
$navlist-item-seperator-color: white !default;
$table-bar-bg-color: #22cc99 !default;
$nav-column-title-color: #086247 !default;
//$nav-item-horizontal-height: 5.625rem;
//$nav-header-height: $nav-item-horizontal-height;

//TODO = lighten tablebar color
$expandable_icon_shadow_color: #4ef7c5 !default;

$menu-item-gap: 1em;

//Debug
.burger {
    display: none;
}
//


%nav-holder {
    margin: 0;
    /*height: $navbar-height;
    height: auto;*/
    width: inherit;
    z-index: $zindex;
    background: $bg-color;
    color: $fg-color;
    letter-spacing: $letter-spacing;

    @include reactive.lin-transition($transition-time);

    &:hover {
        background-color: $hover-bg-color;
        color: $hover-fg-color;
        //@include reactive.lin-transition($transition-time, 'background-color');
        @include reactive.lin-transition($transition-time color);
    }
    
}

%clean-link {
    text-decoration: none;
    border: none;
}

/* ---------------------------- */


// -------------- Navigation list: collection of interactable ui elements for navigation
// Can hold: link menus, button menus, logos, (+ non interactive content, img, text, .etc)
// Can be in horizontal or vertical orientation
// Can be on top, right, bottom or left of the screen
// Can be fixed or have a page pos (within content flow)

$nav-row-height: 5rem;
//$nav-row-height-column: 3em;

.navlist {
    //height: $nav-row-height;
    box-sizing: border-box;

    margin: 0;
    @extend .centerflex-row;
    @extend %nav-holder;
    flex-wrap: wrap;
}


.headvisual {
    height: $nav-row-height;
    //Prevents padding from modifying height value
    box-sizing: border-box;
    //padding: 0.0em;
    .rich-logo {
        //height: 80% !important;
        font-size: 3em;
    }
}

nav {
    height: $nav-row-height;
    box-sizing: border-box;

    @extend .centerflex-row;
    font: $nav-header-default-font;
    margin-left: auto;
    margin-right: auto;

    & > ul {
        @include helpers.pad-between-children($menu-item-gap, horizontal);
        @include helpers.border-between-children(1px solid $navlist-item-seperator-color, horizontal);

        & > li {
            @include shared.flex-center();
            
            & > a {
                @include shared.flex-center();
                //For hover border offset
                padding-bottom: 0.15em;
            }
        }
    }
}

.headaction {
    height: $nav-row-height;
    box-sizing: border-box;
    //background: linear-gradient(to right, rgba(0, 65, 63, 0.0), rgba(0, 40, 40, 0.8));

    padding: 0.4em;
    padding-right: 0.52em;
    //margin-right: 0;
    @include helpers.gap-between-children($menu-item-gap * 0.2, 'horizontal');
    .rbtn {
        height: 100%;
    }
}

.rounded, .rounded-2 {
    border-radius: 1.0em;
}
.rounded-1 {
    border-radius: 0.5em;
}
.rounded-3 {
    border-radius: 1.5em;
}
.round, .rounded-4 {
    border-radius: 50%;
}

.table-bar {
    width: 100%;
    //background-color: rgba(#22cc99, 0.85);
    background-color: $table-bar-bg-color;
    top: $nav-row-height;
    position: fixed;
    opacity: 0.0;
    left: 0;
    text-align: left;
    visibility: hidden;
    //display: none;
    padding: {
        top: 4rem;
        bottom: 4rem;
    }
    //padding: 4rem;
}

.nav-table {
    //text-align: left;
    width: auto;
    //display: none;
    display: grid;
    grid-auto-flow: column;
    //align-items: center;
    grid-template-columns: auto; //repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    //grid-gap: 0.625em;
    grid-gap: 2.250em;
    //text-align: center;
    //gap: 10px;
    //padding-left: 10%;
    //padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
    justify-content: center;
}

$column-list-item-spacing: calc(($menu-item-gap * 3 / 4) / 2);
.nav-column {
    //justify-self: center;
    //grid-column: -1 / 1;
    //place-self: center;
    //height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    //padding-left: 0 !important;

    h3 {
        margin: 0;
        padding-bottom: 1.0rem;
        opacity: 0.75;
        color: $nav-column-title-color;

        display: block;
        text-align: left;
    }
    ul > li {

        padding-top: $column-list-item-spacing;
        padding-bottom: $column-list-item-spacing;
        a {
            box-sizing: border-box;
            padding-top: $column-list-item-spacing;
            padding-bottom: $column-list-item-spacing;
        }
    }
    .linklist {
        flex-direction: column;
    }
}

$list-link-margin-bottom: 0em;

.linklist {
    //@extend .centerflex-row;
    //all: unset;
    padding: 0;

    display: flex;
    //flex-direction: column;

    //justify-content: start;
    //align-items: start;
    list-style: none;

    li {
        position: relative;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        //display: block;
        //@include flex-center();
    }

    a {
        @extend %clean-link;
        color: $fg-color;
        //@include flex-center();
        margin-bottom: $list-link-margin-bottom;
    }
    a:hover {
        @include shared.underline_link_hover_fx(white, 0.1em, $list-link-margin-bottom);
    }
}

// ---------------- Navigation hovering and subnav activating

$hover-text-shadow: 0px 0px 1em $expandable_icon_shadow_color, 0px 0px 1em $expandable_icon_shadow_color;

li:has(.nav-tb-ck:checked) /*+*/ > .table-bar {
    visibility: visible;
    display: block;
    opacity: 1.0;
    background-color: rgba($table-bar-bg-color, 0.97);
    transition: 1s opacity;
}

.nav-tb-ck {
    all: unset;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    //display:
    opacity: 0.0;
    z-index: 999;

    & + .nav_url .icon {
        rotate: 0deg;
        transition: 0.5s rotate;
    }
}

.nav-tb-ck:hover {
    cursor: pointer;
}
.nav_url:hover, .nav-tb-ck:hover + .nav_url {
    @include shared.underline_link_hover_fx();
    text-shadow: $hover-text-shadow;
}
.nav-tb-ck:hover + .nav_url .icon {
    rotate: 90deg;
    transition: 0.5s rotate;
}

.nav-tb-ck:checked + .nav_url {
    text-shadow: $hover-text-shadow;
    .icon {
        rotate: 180deg;
        transition: 0.5s rotate;
    }
}

// -------------------------------

.navspacer {
    height: $nav-row-height;
}

//$break1: list.slash(15, 13);
$break-land-ultra-wide: list.slash(3, 1); //3.000
$break-land-wide: list.slash(2, 1); //2.000
$break-land-fhd: list.slash(16, 9); // 1.7777
$break-land-land-square: list.slash(13, 9); // 1.4444
$break-land-square: list.slash(5, 4); // 1.2500
//$break4: list.slash(1, 1);
$break-square: list.slash(1, 1); // 1.000
$break-square-portrait: list.slash(7, 9); // 0.7777
$break-portrait: list.slash(2, 3); // 0.6666
$break-portrait-high: list.slash(1, 2); // 0.5000
$break-high: list.slash(1, 3); // 0.3333


@include helpers.aspect-break($break-land-square, 10){
    $nav-height: $nav-row-height * 2;
    .navlist {
        /*& > * {
            height: $nav-row-height;
        }*/
        
    }
    nav {
        margin-left: 0em;
    }
    .headaction {
        margin-right: auto;
    }
    .table-bar {
        top: $nav-height;
    }
    .navspacer {
        height: $nav-height;
    }
    .nav-table {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@include helpers.aspect-break($break-square, 10){
    $nav-height: $nav-row-height * 3;
    .table-bar {
        top: $nav-height;
    }
    .navspacer {
        height: $nav-height;
    }
    nav {
        margin-left: auto;
    }
    .headvisual {
        width: 100%;
    }
}

@include helpers.aspect-break($break-square-portrait, 10){
    //$nav-item-horizontal-height: $nav-item-horizontal-height * 2;

    $nav-visual-height: $nav-row-height * 1.2;
    $nav-row-height: $nav-row-height * 0.8;
    $nav-action-height: $nav-visual-height;

    header {
        position: relative;
        top: 0;
    }
    .navspacer {
        height: 0;
    }

    .navlist {
        //flex-wrap: wrap;
        height: auto;
        flex-direction: column;
    }
    .headvisual {
        height: $nav-visual-height;
        width: 100%;
    }
    nav {
        flex-direction: column;
        height: auto;
        margin: 0;
        width: 100%;
        & > ul {
            flex-direction: column;
            width: 100%;
            margin: 0;

            //reset padding
            @include helpers.pad-between-children(0px, horizontal);

            & > li {
                width: 100%;
                //height: $nav-row-height-column;
                //line-height: $nav-row-height-column;
                border: none !important;
                //justify-content: center;
                //align-items: center;
                //display: flex;
                .nav_url {
                    border: none !important;
                    //height: $nav-row-height-column;
                    line-height: $nav-row-height;
                    height: $nav-row-height;
                    padding-bottom: 0;
                    width: 100%;
                }
            }

            & > li:nth-child(odd) {
                background: rgba(255,255,255, 0.2); //TODO: darken instead https://sass-lang.com/documentation/modules/color/
            }
        }
    }
    .headaction {
        margin-right: 0;
        //margin-top: 1em;
        //height: $nav-action-height;
        width: 100%;
        height: auto;
        padding: 0;
        .btn {
            height: $nav-row-height !important;
            width: 25%;
            margin: 0.4em;
        }
    }
    
    .nav_url:hover, .nav-tb-ck:hover + .nav_url {
        border: none !important;
        @include shared.box_link_hover_fx();
    }

    .table-bar {
        position: absolute;
        //top: $nav-row-height-column;
        //0.20 * $nav-row-height offset necessary as the top position relative
        //top: $nav-row-height + 0.20 * $nav-row-height;
        top: $nav-row-height;
        z-index: 9999;
        padding-top: 1.4em;
        padding-bottom: 1em;
        
    }

    $nav-table-padding-x: 1em;

    .nav-table {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-right: 0;
        h3 {
            margin-bottom: 0.0em;
            padding-top: 0.4em;
            padding-bottom: 0.6em;
            padding-left: $nav-table-padding-x;
        }
    }
    .nav-column {
        align-items: start;
        ul {
            width: 100%;
            & > li {
                //height: $nav-row-height-column * 0.8;
                //line-height: $nav-row-height-column * 0.8;
                padding-top: 0;
                padding-bottom: 0;
                a {
                    padding-top: 0;
                    padding-bottom: 0;
                    //box-sizing: border-box;
                    //padding-top: $column-list-item-spacing / 2;
                    //padding-bottom: $column-list-item-spacing / 2;
                }

            }
            
        }
        a {
            width: 100%;
            display: block;
            //padding: 0.0em;
            &:hover {
                @include shared.box_link_hover_fx()
            }
        }
    }

    .nav-table .nav-column a{
        padding-left: $nav-table-padding-x * 2 !important;
    }

    .linklist {
        a:hover {
            @include shared.reset_underline_link_hover_fx($list-link-margin-bottom);
        }
    }

    
    // ------------------- Other styles TODO move to own modules (+ define as mixins so they can be summarized into single breakpoint)

    #main-stack .stack-fg {
        top: 0.5rem !important;
    }
    .top-logo {
        padding: 0;
        margin-left: -8% !important;
    }

    .split-view .right-pane {
        grid-column: 1 !important;
        grid-row: 2 !important;
        margin: auto !important;
        width: 80%;
    }

    .small-width {
        width: 80% !important;
    }

    .preview-section-holder {
        padding: 0 !important;
        grid-template-columns: repeat(2, 1fr) !important;
        row-gap: 2em !important;
        gap: 1em !important;
    }

    footer {
        .panes {
            padding: 0 !important;
            width: 100% !important;
            flex-direction: column;
            align-items: center;

            & > * {
                width: 100% !important;

                box-sizing: border-box;
                padding-left: 1.5em;
                padding-right: 1.5em;
            }
        }
        .bottom-screen {
            box-sizing: border-box;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        .left-screen {
            margin-right: unset !important;;
        }
        .right-screen {
            margin-left: unset !important;
            //width: 80%;
        }
        .copybar {
            flex-direction: column-reverse;
            .nav_url {
                //margin: 0;
                margin-left: auto;
                margin-right: auto;
                display: inline;
                padding: 0.3em;

                line-height: 1 !important;
                height: auto !important;
            }
            @include helpers.gap-between-children($menu-item-gap, 'vertical');
        }
        input[type=email] {
            margin-right: 0 !important;
        }
        .nav-column {
            text-align: center;
        }
    }
}

@include helpers.aspect-break($break-portrait){
    .preview-section-holder {
        padding: 0 !important;
        grid-template-columns: 1fr !important;
        row-gap: 2em !important;
        gap: 1em !important;
    }
}